#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^oldwebsite.com [NC]
RewriteRule ^(.*)$ http://newwebsite.com/$1 [L,R=301,NC]

#redirection for www
RewriteCond %{HTTP_HOST} ^www.oldwebsite.com [NC]
RewriteRule ^(.*)$ http://www.newwebsite.com/$1 [L,R=301,NC]
